<div class="col-xs-6 col-md-8">
  <h4 class="blog-post-title">Envio de SMS</h4>
  <hr/>
  <div class="table-responsive">
    <div class="panel panel-primary">
      <div class="panel-heading">Formulario de envio</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <textarea class="form-control" rows="3"></textarea>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsClientes"  ng-model="optionsRadios" >
              Enviar para Clientes
            </label>
          </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsGrupos" value="grupos"  ng-model="optionsRadios" checked>
                Enviar para Grupos
              </label>
            </div>
            <hr/>
            <div ng-if="!optionsRadios" ng-model= "optionsRadios">
              <table class="table table-striped">
                <tr><th>
                <angucomplete id="buscaclientes"
                placeholder="Adicionar clientes"
                pause="50"
                selectedobject="cl"
                localdata="clientes"
                searchfields="nome"
                titlefield="nome"
                descriptionfield="celular"
                minlength="1"
                inputclass="form-control form-control-small"/>
                </th>
                {{cl}}
                <th>
                <button type="button" class="btn btn-success fa fa-save"  ng-click="adicionarCliente(cl);"></button></th></tr>
                <h3>Lista de Clientes</h3>
                <tbody>
                  <tr ng-repeat= "ct in cli"><td>{{ct.title}}</td><td>{{ct.description}}</td> </tr>
                  {{ct}}
                </tbody>
                <button type="button" class="btn btn-danger fa fa-save" ng-click="scliente(ct);"></button>

              </table>
            </div>
            <div ng-if="optionsRadios" ng-model= "optionsRadios">
              <table class="table table-striped">
              <tr><th>
              <div >
              <angucomplete id="buscagrupos"
              placeholder="Adicionar grupos"
              pause="50"
              selectedobject="gp"
              localdata="grupos"
              searchfields="nome"
              titlefield="id,nome"
              minlength="1"
              inputclass="form-control form-control-small"/>
            </div>
          </th>
          <th>
           <button type="button" class="btn btn-success fa fa-save"  ng-click="adicionarCliente(gp.originalObject);"></button></th></tr>
              <h3>Lista de Grupos {{gp.originalObject.nome}}</h3>
             <tbody>
              <tr ng-repeat= "g in cli1" ng-model = "cli"><td>{{g.nome}}</td><td>{{g.nome}}</td></tr>
            </tbody>
            </table>
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger fa fa-save" ng-click="scliente(cli.Object);"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
