<div class="col-xs-6 col-md-8">
  <h4 class="blog-post-title">Envio de SMS</h4>
  <hr/>
  <div class="panel panel-default">
    <div class="panel-body">
          <textarea class="form-control" rows="3"></textarea>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsClientes"  ng-model="optionsRadios" >
              Enviar para Clientes
            </label>
          </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsGrupos" value="grupos"  ng-model="optionsRadios" checked>
                Enviar para Grupos
              </label>
            </div>
            <hr/>
            <div ng-if="!optionsRadios" ng-model= "optionsRadios">
              <table class="table table-striped">
                <tr><th>
                <angucomplete id="buscaclientes"
                placeholder="Adicionar clientes"
                pause="50"
                selectedobject="cl"
                localdata="clientes"
                searchfields="nome,celular"
                titlefield="nome"
                descriptionfield="celular"
                minlength="1"
                inputclass="form-control form-control-small"/>
                  </div>
                </th>
                <th>
                <button type="button" class="btn btn-success"  ng-click="adicionarCliente(cl);"> Adicionar</button></th></tr>
                <h3>Lista de Clientes</h3>
                <tr><td>Nome</td><td>Celular</td> </tr>
                <tbody>
                  <tr ng-repeat= "pessoa in pselect"><td>{{pessoa.nome}}</td><td>{{pessoa.celular}}</td> </tr>
                </tbody>
              </table>
            </div>
            <div ng-if="optionsRadios" ng-model= "optionsRadios">
              <table class="table table-striped">
              <tr><th>
              <div >
              <angucomplete id="buscagrupos"
              placeholder="Adicionar grupos"
              pause="50"
              selectedobject="gp"
              localdata="grupos"
              searchfields="nome"
              titlefield="nome"
              minlength="1"
              inputclass="form-control form-control-feedback"/>
            </div>
          </th>
          <th>
           <button type="button" class="btn btn-success"  ng-click="adicionarCliente(gp.originalObject);">Adicionar</button></th></tr>
              <h3>Lista de Grupos {{gp.originalObject.nome}}</h3>
             <tbody>
              <tr ng-repeat= "g in pselect" ng-model = "cli"><td>{{g.nome}}</td><td>{{g.nome}}</td></tr>
            </tbody>
            </table>
            </div>
          </div>
          <div class="panel-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="scliente(pselect);">Enviar SMS</button>
          </div>
        </div>
        </form>
      </div>
    </div>
